.App {
  text-align: center;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

[data-theme='dark']{
  --background-color: #10121b;
  --text-color:  #f1f1f1;
}

[data-theme='light']{
  --background-color: #f1f1f1;
  --text-color: #10121b;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
.page {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.navbar {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  gap:20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;

}

.mode-switch label{
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  margin-left: 10px;
}

.mode-switch .slider {
position: absolute;
cursor: pointer;
top:0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
transition: 0.4s;
border-radius: 20px;
}

.mode-switch input :checked + .slider {
  background-color: #2196F3;
}

.mode-switch .slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left:2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.mode-switch input:checked + .slider:before {
  transform: translateX(20px);
}